{% extends 'app/base.html' %}
{% load static %}
{% block title %}About{% endblock title %}
{% block main-content %}
<div class="container-fluid bg3">
    <div class="row">
      <div class="col-md-6">
        </div>
        <div class="col-md-6 ">
            <br> <br>
         <h2>Welcome To KrishakGrocery</h2>
           <p>Krishak Grocery is an online grocery shopping webapp where customers can directly buy fresh fruits and vegetables.
            It adds the available products of farmers through direct contact and supplies the customer according to their demand.
           It provides a platform that allows the customers to pay with cash on delivery or via payment gateways like PayPal.
           With a precise delivery location and address of the customer, deliveries are done with  little  contact, ultimately decreasing the risks of COVID-19 spread.
           </p>
        </div>
    </div>
  </div>
  {% endblock main-content %}