{% extends 'app/base.html' %}
{% load static %}



{% block main-content %}

<div class="m-3 text-center">
    <h2>Leafy and Herbs</h2>
    <!-- Slider 1 -->
    <div class="owl-carousel" id="slider1">
      {% for lh in leafyherbs %}
     <a href="{% url 'product-detail' lh.id %}" class="btn hoverzoom"><div class="item" id="test"><img src="{{lh.product_image.url}}" alt="" height="200px"><span class="fw-bold textwrap">{{lh.title}}</span><br><span class="fs-5">Rs.{{lh.selling_price}}</span></div></a>
     {% endfor %}
    
    </div>
   </div>
{% endblock main-content %}