{% extends 'app/base.html' %}
{% load static %}
{% block title %}Login{% endblock title %}

{% block main-content %}
<div class="container">
 <div class="row my-3">
  <div class="col-sm-6 offset-sm-3 pb-5">
   <h2>SIGN IN</h2>
   <hr>
   <form action="" method="post" novalidate class="shadow p-5">
    {% csrf_token %}
    {% for fm in form %}
    <div class="form-group">
        {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small><br>
    </div>
    {% endfor %}
    <div class="pass">
    <small><a href="{% url 'reset_password' %}">Forget your Password?</a></small><br>
    <input type="submit" class="btn btn-light mt-4" value="Login"><br>
</div>
    <!--Facebook Login-->
    <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-light mt-4" >Login with Facebook &nbsp;<i class="fab fa-facebook-f"></i></a>
    <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-light mt-4" >Login with Google &nbsp;<i class="fab fa-google"></i></a>
   <br>
   <br>
    <div class="text-center text-success fw-bold"><small>New to KrishakGrocery? &nbsp;&nbsp;<a href="{% url 'registration' %}" class="text-danger">Create an Account</a></small></div>

    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <p class="alert alert-danger my-3">{{error}}</p>
        {% endfor %}
    {% endif %}        
   </form>
  </div>
 </div>
</div>
{% endblock main-content %}