{% extends 'app/base.html' %}
{% load static %}

{% block main-content %}
<div class="container">
    <div class="row my-3">
     <div class="col-sm-6 offset-sm-3">
        

            <h3>Forgot your Password? </h3><br/>
            

            <form action="#reset_password_sent" method="POST">
                {% csrf_token %}
                {{form}}
                <input type="submit" name="Send email">
            </form> <br/>
            <a href="{% url 'login' %}">Go back</a>
        </div>
    </div>
    
</div>            

{% endblock main-content %}
