{% block main-content %}
<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">


            <h3>Enter new password</h3>

            <p>Please enter your new password twice so we can verify you typed it correctly.</p>

            <form action="" method="POST">
                {% csrf_token %}
                {{form.as_p}}

                <input type="submit" name="Update Password">
            </form>


        </div>
    </div>

</div>         

{% endblock main-content %}