{% extends 'app/base.html' %}
{% load static %}

{% block title %} Search {% endblock %}

{% block main-content %}

<div class="container pt-5 pb-5">
    <h2>Search results for <span class="text-info">"{{request.GET.keyword}}"</span></h2>
            {% for result in results %}
            <a href="{% url 'product-detail' result.id  %}" class="btn hoverzoom">
            <div class="item" id="search">
                <img src="{{result.product_image.url}}" alt="" height="150px">
            <br>
            <br>
            <span class="fw-bold textwrap">{{result.title}}</span>
            <br>
            <span class="fs-5">Rs.{{result.selling_price}}</span>
            <div class="box-element product pb-4">    
            <button class="btn btn-light add-btn">ADD TO CART </button>
             </div>
             </div>
             </a>  

            {% endfor %}  
                
            
        
    
</div>

{% endblock main-content %}