@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Open+Sans+Condensed:ital,wght@0,300;1,300&family=Roboto:wght@300&display=swap');
.owl-carousel .item{
    /* border: 1px solid black; */
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
   }
    .textwrap{
    white-space:nowrap;
    overflow:hidden !important;
    text-overflow:ellipsis;
}
.hoverzoom{
    transition:.1s;
}
.hoverzoom:hover{
transform:scale(1.1);
}
   .navbar-bg{
       background-color:#0a472e !important;
   }
   .owl-next{
    float:right;
   }
   .owl-prev{
    float:left;
   }
   .owl-prev span{
    font-size: 24px;
    font-weight: bold;
   }
   .owl-next span{
    font-size: 24px;
    font-weight: bold;
   }
   
   *{
       box-sizing: border-box;
       margin: 0px;
       padding: 0px;
   }
   
   .container{
       width: 100%;
       margin:	auto;
       padding-right: 13px;
       padding-left: 13px;
   }
   .ab{
       padding-left: 50px;
   }
   /*.Header{
   width: 100%;
   position:fixed;
   top: 0;
   }
   body{
       padding-top: 60px;
       padding-bottom: 40px;
   }*/
   .navbar-brand , .dropdown .btn-secondary
   {
       border-radius: 30px;
       padding: 5px;
       background-color:#80891B;
       color: #fff;
       border-color:none;
       box-shadow: none;
   }
   .dropdown:hover .dropdown-menu
    {
        display: block;
       
    }
    .d .dropdown-menu{
        min-width:12.5rem;
    }
    .dropdown-menu .dropdown-item:hover ,a:hover,
    .navbar-nav .nav-item .nav-link:hover,.d-flex .navbar-nav .nav-item .nav-link:hover ,h5
    {
        color:#80891B;
    }
    a {
        color: black;
        text-decoration: none;
    }
    
   .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show > .nav-link
 {
   padding-right: 50px;
   padding-left:20px;
   color:#80891B;
   }
   .navbar-nav .nav-item .nav-link
   {
       color:#fff;
       padding-right: 50px;
   }
   .navbar-brand
   {
    margin-right: auto;
    font-size: 1.15rem;
   }
  

#test, #test1, #test2{
    color:#80891B !important;
    font-family:Open Sans Condensed ;
        
}


span.fw-bold {
    font-size: 25px;
    
}
span.fs-5 {
    font-size: 25px !important;
    
}
h2{
    color:#0a472e;
    font-family: Dancing Script;
    text-align:center;
    font-size: 50px;
    margin-top:30px;
    margin-bottom: 30px;
}
.ftco-section{
    background-color: #ffc720;
    color:  #0a472e !important;
}
.list ul li{
list-style: none;
}
.list ul li a{
    color:  #0a472e !important;
}
.menu ,.info {
    padding-left: 35px;
    padding-bottom: 20px;
    font-family: Dancing Script;
    font-size: 30px;
}
.groc{
    padding-left: 35px;
    padding-bottom: 20px;
    font-family: Dancing Script;
    font-size: 20px;
}
.pay ,.paypal{
    padding-left: 35px;
    padding-bottom: 20px;
    font-family: Dancing Script;
    font-size: 30px;
}
.copyright{
    background-color: rgb(189, 169, 142);
}
.bg3{
    background: url(../images/banner/bg_3.jpg);
	height:100vh;
	background-size: cover;
}
.bg3 p{
    color: #80891B;
    font-size: 20px;
}
#list{
    padding-left: 100px;
}
.customer{
    padding-right: 200px;
}
#list ul li{
    color: #80891B;
}
#test2 p{
    font-size: 18px;
}
#form .form-control{
width: 40%;
}
#form{
    padding-top: 30px;
    padding-bottom: 30px;
    color:#0a472e !important ;
}
.btn-re{
    background-color:#0a472e !important ;

}
#sli1 , #sli2 , #sli3{
    color:#80891B !important;
    font-family:Open Sans Condensed ;
}
.btn .btn-light {
    background-color: #80891B;
    border-radius: 30px;
    color: #fff;
}
#fruit ,#vegs ,#leafy ,#search{
padding: 35px;
color:#80891B !important;
font-family:Open Sans Condensed ;
}

.shadow .btn-light,.save .btn-light ,.shop .btn-light ,.text-end .btn-light{
    background-color: #ffc720;
    color: #fff;
}
.d-grid .btn-light ,.d-flex .btn-light{
    background-color: #80891B;
    color: #fff;
}
.cart h3 {
    color:#0a472e;
    font-family: Dancing Script;
    text-align:center;
    margin-top:30px;
    margin-bottom: 30px;
    font-size: 25px;
}
.form a {
    font-size: 20px;
    color: #0a472e;}

.card h3 ,.order h3{
    color:#0a472e;
    font-size: 25px;
    font-family: Roboto;
    font-weight: bold;
}
.caros img{
    height: 580px;
    width: 100%;
    
}
.abc{
    padding-top: 20px;
        
    }
label{
        padding-right: 10px;

    }
.abc input{
       
    background-color: #ffc720;
        color:#fff;
        padding: 5px;
        border: none;
       }
.pass a{
           color: black !important;
       }
h4{
    color:#0a472e;
    font-family: Dancing Script;
    text-align:center;
    margin-top:30px;
    margin-bottom: 30px;
    font-size: 20px; 
}
