.owl-carousel .item{
    /* border: 1px solid black; */
    font-size: 24px;
    text-align: center;
    margin-top: 20px;;
}
   
   .textwrap{
       white-space:nowrap;
       overflow:hidden !important;
       text-overflow:ellipsis;
   }
   .hoverzoom{
       transition:.1s;
   }
.hoverzoom:hover{
transform:scale(1.2) 
} 
.owl-next{
    float:right;
}

.owl-prev{
    float:left;
}
   
.owl-prev span{
    font-size: 24px;
    font-weight: bold;
}

.owl-next span{
    font-size: 24px;
    font-weight: bold;
}


   